@page "/posts"

@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlogCms.Models
@using BlogCms.Data
@inject IDbContextFactory<BlogCms.Data.ApplicationDbContext> DbFactory
@implements IAsyncDisposable

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="posts/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Posts">
    <PropertyColumn Property="post => post.Title" />
    <PropertyColumn Property="post => post.Summary" />
    <PropertyColumn Property="post => post.Content" />
    <PropertyColumn Property="post => post.Created" />
    <PropertyColumn Property="post => post.LastUpdated" />

    <TemplateColumn Context="post">
        <a href="@($"posts/edit?id={post.Id}")">Edit</a> |
        <a href="@($"posts/details?id={post.Id}")">Details</a> |
        <a href="@($"posts/delete?id={post.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
